body {
  font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    color: rgba(255,255,255,0.5);
  background: linear-gradient(to right, #2980b9, #2c3e50);
}

  h1 {
      font-weight: 900;
      font-size: 3.5em;
      color: rgba(0,0,0,.5);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .5em;
      width: 100%;
    margin: 10px 0;
  }

  h3 {
      font-weight: 600;
      font-size: 3.5em;
      text-align: center;
      text-transform: none;
      letter-spacing: 0.01em;

  }

.container{
  margin: 250px  ;
}

.color{
  margin: 20px;
}
